<configuration>
    <!-- Appenders -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CUENTAS_LOG" class="ch.qos.logback.core.FileAppender">
        <file>logs/cuentas.log</file>
        <encoder>
            <pattern> %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="PRESTAMOS_LOG" class="ch.qos.logback.core.FileAppender">
        <file>logs/prestamos.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Loggers específicos -->
    <logger name="uniandes.edu.co.proyecto.controller.CuentaController" level="DEBUG" additivity="false">
        <appender-ref ref="CUENTAS_LOG"/>
    </logger>

    <logger name="uniandes.edu.co.proyecto.controller.PrestamoController" level="DEBUG" additivity="false">
        <appender-ref ref="PRESTAMOS_LOG"/>
    </logger>

    <!-- Logger raíz -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
