<!DOCTYPE html>
<html>

<head>
    <title>Extracto Cuenta</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>

<body>

    <div class="container">
        <h1 style="color: #78288c;">Movimientos de Cuenta</h1>

        <form action="extractoCuenta.html" method="get">
            <div class="form-group">
                <label for="idCuenta" style="color: #78288c;">Cuenta:</label>
                <select class="form-control" id="idCuenta" name="idCuenta" onchange="this.form.submit()">
                    <option>Seleccionar Cuenta</option>
                    <th:block th:each="cuenta : ${cuentas}">
                        <option th:value="${cuenta.idCuenta}" th:text="${cuenta.idCuenta}" th:selected="${idCuenta} == ${cuenta.idCuenta}"></option>
                    </th:block>
                </select><br>

                <label for="mes" style="color: #78288c;">Mes</label>
                <select class="form-control" id="mes" name="mes" onchange="this.form.submit()">
                    <option>Seleccionar Mes Para </option>
                    <th:block th:each="mes : ${meses}">
                        <option th:value="${mes}" th:text="${mes}" th:selected="${mes}"></option>
                    </th:block>
                </select><br>
            </div>
        </form>

        

        

        <h5 class="card-title" th:if="${resultado != null}" th:text="${resultado}" style="color: #c7cac8;"></h5>

    </div>

</body>

</html>
