<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" >
        <div class="container-fluid">
            <a class="navbar-brand" th:href='@{/}'>
            <img th:src="@{/images/logoPrincipal.png}" width="200" height="60">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/oficina}" style="color: #78288c;">Oficinas</a>
                    </li>
                </ul>
          </div>
        </div>
    </nav>

    <h1 style="color: #78288c;">Vas a iniciar sesion:</h1>
    <br>
    <div th:if="${errorLogin}" class="alert alert-danger" role="alert">
        <p th:text="${errorLogin}"></p>
    </div>
    <div class="center-text">
        <form th:action="@{/login_usuario/verificacionLogin}" method="post">
            <div class="form-group">
                <label for="login" style="color: #78288c;">Login:</label>
                <input type="text" class="form-control" style="color: #78288c;" id="login" placeholder="login" name="login" />
            </div>
            <div class="form-group">
                <label for="clave" style="color: #78288c;">Clave:</label>
                <input type="password" class="form-control" style="color: #78288c;" id="clave" placeholder="clave" name="clave" />
            </div>
            <button type="submit" class="btn" style="background-color: #78288c; color: white;">Iniciar sesion</button>
            <a th:href="@{/}" class="btn" style="background-color: #ee0e0e; color: white;">Cancelar</a>
        </form>
        
    </div>
    
</body>

</html>