<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Oficina</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" >
        <div class="container-fluid">
            <a class="navbar-brand" th:href='@{/}'>
            <img th:src="@{/images/logoPrincipal.png}" width="200" height="60">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/oficina}" style="color: #78288c;">Oficinas</a>
                    </li>
                </ul>
          </div>
        </div>
    </nav>
    <h1 style="color: #78288c;">Estas editando la Oficina:</h1>
    <br>

    <div class="container">
        <div class="row">
            <div class="col text-align: center justify-content: center" style=" align-items: center;">
                <div style="display: flex; justify-content: center;">
                    <div class="card" style="text-align: center; width: 60%; height: 100%;" >
                        <div th:each="oficina : ${oficina}" th:object="${oficina}">
                            <div class="card" style="background-color: #78288c;">
                                <div class="card-header">
                                    <h5 class="card-title" th:text="${oficina.nombre}" style="color: #c7cac8;"></h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                    <span class="font-weight-bold" style="color: #c7cac8;">Id:</span> <span th:text="${oficina.idOficina}" style="color: #c7cac8;"></span><br>
                                    <span class="font-weight-bold" style="color: #c7cac8;">Direccion:</span> <span th:text="${oficina.direccion}" style="color: #c7cac8;"></span><br>
                                    <span class="font-weight-bold" style="color: #c7cac8;">Numero De Puntos Disponibles:</span> <span th:text="${oficina.numeroPuntosDisponibles}" style="color: #c7cac8;"></span>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="col text-align: center">
                <form th:action="@{/oficinas/{id_Oficina}/edit/save(id_Oficina=${oficina.idOficina})}" method="post" th:object="${oficina}">
                    <div class="form-group">
                        <label for="nombre" style="color: #78288c;">Nombre:</label>
                        <input type="text" class="form-control" style="color: #78288c;" id="nombre" placeholder="Nombre" name="nombre" required th:value="${oficina.nombre}" />
                    </div>
            
                    <div class="form-group">
                        <label for="locacion" style="color: #78288c;">Direccion:</label>
                        <input type="text" class="form-control"  style="color: #78288c;" id="direccion" placeholder="Direccion" name="direccion" required th:value="${oficina.direccion}" />
                    </div>
                    <div class="form-group">
                        <label for="gerente" style="color: #78288c;">Numero De Puntos Disponibles:</label>
                        <input type="number" class="form-control" style="color: #b659cd;" id="numeroPuntosDisponibles" placeholder="NumeroPuntosDisponibles" name="numeroPuntosDisponibles" required th:value="${oficina.numeroPuntosDisponibles}" />
                    </div>
                    <button type="submit" class="btn" style="background-color: #78288c; color: white;">Guardar</button>
                    <a th:href="@{/oficina}" class="btn" style="background-color: #ee0e0e; color: white;">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
    
    
    

</body>
</html>