<!DOCTYPE html>
<html>
    <head>
        <title>BancAndes</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    </head>
    <body>

        <nav class="navbar navbar-expand-lg bg-body-tertiary" >
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{|/login_usuario/verificacionLogin/${idUsuario}|}">
                    <img th:src="@{/images/logoPrincipal.png}" width="200" height="60">
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/oficina}" style="color: #78288c;">Oficinas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/usuario}" style="color: #78288c;">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/puntosAtencion}" style="color: #78288c;">Puntos De Atencion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/cuenta}" style="color: #78288c;">Cuentas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/login_usuario/verificacionLogin/{id_usuario}/oficina/nueva(id_usuario=${idUsuario})}" style="color: #78288c;">Crear Oficina</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/login_usuario/verificacionLogin/{id_usuario}/crear_usuario(id_usuario=${idUsuario})}" style="color: #78288c;">Crear Usuario</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1 style="color: #78288c;">Estas Creando Una Oficina:</h1>
        <br>
        <div class="center-text">
            <form th:action="@{/login_usuario/verificacionLogin/{id_usuario}/oficina/new/save}" method="post">
                <div class="form-group">
                    <label for="nombre" style="color: #78288c;">Nombre:</label>
                    <input type="text" class="form-control" style="color: #78288c;" id="nombre" placeholder="Nombre" name="nombre" />
                </div>
                <div class="form-group">
                    <label for="locacion" style="color: #78288c;">Locacion:</label>
                    <input type="text" class="form-control" style="color: #78288c;" id="locacion" placeholder="Locacion" name="locacion" />
                </div>
                <div class="form-group">
                    <label for="gerente" style="color: #78288c;">Numero De Puntos Disponibles:</label>
                    <input type="text" class="form-control" style="color: #78288c;" id="gerente" placeholder="Numero De Puntos Disponibles" name="gerente" />
                </div>
                
                <button type="submit" class="btn" style="background-color: #78288c; color: white;">Guardar</button>
                <a th:href="@{/oficina}" class="btn" style="background-color: #ee0e0e; color: white;">Cancelar</a>
            </form>
        </div>

    </body>
</html>