<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Crear Servicio</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" >
        <div class="container-fluid">
            <a class="navbar-brand" th:href='@{/}'>
            <img th:src="@{/images/logoPrincipal.png}" width="200" height="60">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/oficina}" style="color: #78288c;">Oficinas</a>
                    </li>
                </ul>
          </div>
        </div>
    </nav>

    <h1 style="color: #78288c;">Vas a pagar un prestamo extraordinaria:</h1>
    <br>

    <div class="center-text">
        <form th:action="@{/prestamo/{id_Prestamo}/{id_usuario}/prestamo_pago_cuota_extraordinaria/save(id_Prestamo=${prestamo.idPrestamo}, id_usuario=${idUsuario})}" method="post" th:object="${prestamo}">
            <div class="form-group">
                <label for="monto" style="color: #78288c;">Monto:</label>
                <input type="text" class="form-control" style="color: #78288c;" id="monto" name="monto" placeholder="Ingrese el monto"/>
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: #78288c; color: white;">pagar</button>
            <a th:href="@{/prestamo}" class="btn" style="background-color: #ee0e0e; color: white;">Cancelar</a>
        </form>
    </div>

</body>

</html>