<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Crear Servicio</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" >
        <div class="container-fluid">
            <a class="navbar-brand" th:href='@{/}'>
            <img th:src="@{/images/logoPrincipal.png}" width="200" height="60">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/oficina}" style="color: #78288c;">Oficinas</a>
                    </li>
                </ul>
          </div>
        </div>
    </nav>

    <h1 style="color: #78288c;">Estas Creando Un Prestamo:</h1>
    <br>

    <br>
    <div class="center-text">
    <form th:action="@{/prestamo/new/save/{id_usuario}(id_usuario=${idUsuario})}" method="post">
        <div class="form-group">
            <label for="monto" style="color: #78288c;">Monto:</label>
            <input type="text" class="form-control" style="color: #78288c;" id="monto" placeholder="monto" name="monto" />
        </div>
        <div class="form-group">
            <label for="interes" style="color: #78288c;">interes:</label>
            <input type="text" class="form-control" style="color: #78288c;" id="interes" placeholder="interes" name="interes" />
        </div>
        <div class="form-group">
            <label for="cuota" style="color: #78288c;">cuota:</label>
            <input type="text" class="form-control" style="color: #78288c;" id="cuota" placeholder="cuota" name="cuota" />
        </div>
        <div class="form-group">
            <label for="dia_Mes_Cuota" style="color: #78288c;">dia Mes Cuota:</label>
            <input type="text" class="form-control" style="color: #78288c;" id="dia_Mes_Cuota" placeholder="dia Mes Cuota" name="dia_Mes_Cuota" />
        </div>
        <div class="form-group">
            <label for="valor_Cuota" style="color: #78288c;">valor Cuota:</label>
            <input type="text" class="form-control" style="color: #78288c;" id="valor_Cuota" placeholder="valor Cuota" name="valor_Cuota" />
        </div>
        
        <div class="input-group mb-3 row">
            <div class="input-group-prepend">
                <label class="input-group-text" style="color: #78288c;" for="inputGroupSelect01">Estado del Prestamo</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" name="estadoPrestamo" >
                <option style="color: #78288c;" value="" selected>Escoge el estado del prestamo</option>
                <th:block th:each="estadoPrestamo : ${estadosPrestamo}" style="color: #78288c;">
                    <option th:value="${estadoPrestamo.estadoPrestamo}" th:text="${estadoPrestamo.estadoPrestamo}" style="color: #78288c;"></option>
                </th:block>
            </select>
        </div>

        <div class="input-group mb-3 row">
            <div class="input-group-prepend">
                <label class="input-group-text" style="color: #78288c;" for="inputGroupSelect01">Tipo del Prestamo</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" name="tipoPrestamo" >
                <option style="color: #78288c;" value="" selected>Escoge el tipo del prestamo</option>
                <th:block th:each="tipoPrestamo : ${tiposPrestamoNombre}" style="color: #78288c;">
                    <option th:value="${tipoPrestamo}" th:text="${tipoPrestamo}" style="color: #78288c;"></option>
                </th:block>
            </select>
        </div>
        
        <button type="submit" class="btn" style="background-color: #78288c; color: white;">Guardar</button>
        <a th:href="@{/prestamo}" class="btn" style="background-color: #ee0e0e; color: white;">Cancelar</a>
        
    </form>
    </div>
</body>

</html>