<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Crear Servicio</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" >
        <div class="container-fluid">
            <a class="navbar-brand" th:href='@{/}'>
            <img th:src="@{/images/logoPrincipal.png}" width="200" height="60">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/oficina}" style="color: #78288c;">Oficinas</a>
                    </li>
                </ul>
          </div>
        </div>
    </nav>

    <h1 style="color: #78288c;">Estas Creando Un Punto De Atencion:</h1>
    <br>

    <br>
    <div class="center-text">
    <form th:action="@{/puntosAtencion/new/save}" method="post">
        <div class="form-group">
            <label for="nombre" style="color: #78288c;">Nombre:</label>
            <input type="text" class="form-control" style="color: #78288c;" id="nombre" placeholder="Nombre" name="nombre" />
        </div>

        <label for="tipo" style="color: #78288c;">Tipo Punto Atencion:</label>
        <select class="form-control" id="tipo" name="tipo" required>
            <th:block th:each="tipos : ${tiposPuntosAtencion}" >
                <option th:value="${tipos.tipoPuntoAtencion}" th:text="${tipos.tipoPuntoAtencion}" th:selected="${puntosAtencion!=null || puntosAtencion.tiposPuntosAtencion.tipoPuntoAtencion == tiposPuntosAtencion.tipoPuntoAtencion}"></option>
            </th:block>
        </select><br>

        <div class="form-group">
            <label for="locacion" style="color: #78288c;">Locacion:</label>
            <input type="text" class="form-control" style="color: #78288c;" id="locacion" placeholder="Locacion" name="locacion" />
        </div>
        <div class="form-group">
            <label for="horarioApertura" style="color: #78288c;">Horario De Apertura:</label>
            <input type="text" class="form-control" style="color: #78288c;" id="horarioApertura" placeholder="horarioApertura" name="horarioApertura" />
        </div>
        <div class="form-group">
            <label for="horarioCierre" style="color: #78288c;">Horario De Cierre:</label>
            <input type="text" class="form-control" style="color: #78288c;" id="horarioCierre" placeholder="horarioCierre" name="horarioCierre" />
        </div>

        <label for="idOficina" style="color: #78288c;">Oficina:</label>
        <select class="form-control" id="idOficina" name="idOficina" >
            <th:block th:each="oficina : ${oficinas}" >
                <option th:value="${oficina.idOficina}"  th:text="${oficina.nombre}" th:selected="${puntosAtencion!=null || puntosAtencion.oficina.idOficina == oficina.idOficina}"></option>
            </th:block>
        </select><br>
        
        
        <button type="submit" class="btn" style="background-color: #78288c; color: white;">Guardar</button>
        <a th:href="@{/puntosAtencion}" class="btn" style="background-color: #ee0e0e; color: white;">Cancelar</a>
    </form>
    </div>
</body>

</html>