<html>
<head>
    <title>Crear Usuario</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <br>
    <form action="#" th:action="@{//usuario/admi/save}" method="post">


        <label class="col-form-label">Tipo Documento:</label>
        <select class="form-control" id="tipoDocumento" name="tipoDocumento" required>
            <th:block th:each="tipoDocumento : ${tipoDocumento}">
                <option th:value="${tipoDocumento.tipoDocumento}" th:text="${tipoDocumento.tipoDocumento}" th:selected="${usuario!=null || usuario.tipoDocumento.tipoDocumento == tipoDocumento.tipoDocumento}"></option>
            </th:block>
        </select><br>
        
        <label class="col-form-label">Numero Documento:</label>
        <input class="form-control" type="number" id="numeroDocumento" name="numeroDocumento" required th:value="${usuario.numeroDocumento}" />
        
        <label class="col-form-label">Nombre:</label>
        <input class="form-control" type="text" id="nombre" name="nombre" required th:value="${usuario.nombre}" />
        
        <label class="col-form-label">Nacionalidad:</label>
        <input class="form-control" type="text" id="nacionalidad" name="nacionalidad" required th:value="${usuario.nacionalidad}" />
        
        <label class="col-form-label">Direccion fisica:</label>
        <input class="form-control" type="text" id="direccionFisica" name="direccionFisica" required th:value="${usuario.direccionFisica}" />
        
        <label class="col-form-label">Correo Electronico:</label>
        <input class="form-control" type="text" id="direccionDigital" name="direccionDigital" required th:value="${usuario.direccionDigital}" />
        
        <label class="col-form-label">Telefono:</label>
        <input class="form-control" type="number" id="telefono" name="telefono" required th:value="${usuario.telefono}" />
        
        <label class="col-form-label">Codigo Postal:</label>
        <input class="form-control" type="number" id="codigoPostal" name="codigoPostal" required th:value="${usuario.codigoPostal}" />
        
        <label class="col-form-label" for="tipoUsuario">Tipo Usuario:</label>
        <select class="form-control" id="tipoUsuario" name="tipoUsuario" required>
            <th:block th:each="tipoUsuario : ${tipoUsuario}">
                <option th:value="${tipoUsuario.tipoUsuario}" th:text="${tipoUsuario.tipoUsuario}" th:selected="${usuario!=null || usuario.tipoUsuario.tipoUsuario == tipoUsuario.tipoUsuario}"></option>
            </th:block>
        </select><br>
    
        <div class="text-center">
            <input type="submit" value="Guardar" class="btn btn-primary">
            <a th:href="@{/usuario}" class="btn btn-primary">Cancelar</a>
        </div>
    </form>
</body>
</html>
