<!DOCTYPE html>
<html>

<head>
  <title>Lista de Usuarios</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
  <script th:src="@{/css/jquery.min.js}"></script>
  <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
  <div class="text-center">
    <h1>Lista de Usuarios</h1>



    <div class="container w-25">
      <div class="card border border-2 mx-auto">

        <h5 class="card-header" role='button' id="headingOne">
          <a href="#" class="collapsed d-block" data-toggle="collapse" data-target="#busqueda">

    <table class="table table-condensed table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Tipo Documento</th>
          <th>Numero Documento</th>
          <th>Nombre</th>
          <th>Nacionalidad</th>
          <th>Direccion</th>
          <th>Correo</th>
          <th>Telefono</th>
          <th>codigo Postal</th>
          <th>Tipo Usuario</th>
          

        </tr>
      </thead>
      <th:block th:each="usuario : ${usuario}">
        <tr>
          <td th:text="${usuario.idUsuario}">buttononcli</td>
          <td th:text="${usuario.tipoDocumento.tipoDocumento}"></td>
          <td th:text="${usuario.numeroDocumento}"></td>
          <td th:text="${usuario.nombre}"></td>
          <td th:text="${usuario.nacionalidad}"></td>
          <td th:text="${usuario.direccionFisica}"></td>
          <td th:text="${usuario.direccionDigital}"></td>
          <td th:text="${usuario.telefono}"></td>
          <td th:text="${usuario.codigoPostal}"></td>
          <td th:text="${usuario.tipoUsuario.tipoUsuario}"></td>
          <td>
            <a th:href="@{'/usuario/' + ${usuario.idUsuario} + '/edit'}">Editar</a>
            <a th:href="@{'/usuario/' + usuario.idUsuario + '/delete'}"
   onclick="return confirm('¿Estás seguro de borrar este usuario?')">Borrar</a>

            <td>
        </tr>
      </th:block>
    </table>
    <div class="text-center">
      <a th:href="@{usuario/new}" class="btn btn-primary">Añadir Usuario como Dios</a>
      <a th:href="@{usuario/gerente}" class="btn btn-primary">Añadir Usuario como Gerente General</a>
      <a th:href="@{usuario/admi}" class="btn btn-primary">Añadir Usuario como Admi</a>
      <a th:href="@{/}" class="btn btn-primary">Volver Atrás</a>
    </div>
  </div>
  <br />
</body>

</html>