<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="innertube">
        <h1>Vista Administrador</h1>
        <header id="header">
            <div class="innertube">
                <h1>Header...</h1>
                <a href="admi1.html"><button>CREAR OFICINA</button></a>
                <a href="admi2.html"><button>CREAR PUNTO DE ATENCIÓN </button></a>
                <a href="admi3.html"><button>BORRAR PUNTO DE ATENCIÓN</button></a>
            </div>
        </header>
        
    </div>




    
</body>
</html>